################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArrayVisualizer/v16/.suo
*.cache
*.dll
*.zip
/UpgradeLog.htm
